sphinx-click @ git+https://github.com/dylanpilz/sphinx-click.git
sphinx-rtd-theme
sphinx
pandas
pyyaml
seaborn
matplotlib
pysam
biopython
cvxpy
numpy
click
tqdm
matplotlib
joblib
plotly
requests
scipy
